<!-- blog post view -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href=""><button>&lt; Back</button></a>
      <div class="blog-post">
        <h3>{{title}}</h3>
        <h5>{{author}} <span>{{date}}<span></h5>
        <p>{{bodyFull}}</p>
      </div>
    </div>
  </div>
</div>