<h4 class="bookmark-item">
  {{title}} <small>{{tag}}</small> 
  <span class="controls">
    <i class="glyphicon glyphicon-pencil edit-bookmark"  title="Edit"></i> 
    <i class="glyphicon glyphicon-remove remove-bookmark" title="Delete"></i>
  </span>
</h4>
