<a href="#/bookmark/{{_id}}" class="list-group-item">
  <h4>
    {{title}} <small>{{tag}}</small> 
    <span class="controls">
      <i class="glyphicon glyphicon-pencil edit-bookmark"  title="Edit"></i> 
      <i class="glyphicon glyphicon-remove remove-bookmark" title="Delete"></i>
    </span>
  </h4>
</a>