<form id="bookmark-form" action="">

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <input type="url" name="url" class="form-control" placeholder="URL: (ex: https://google.com)">
      </div>
      <div class="col-md-4">
        <input type="text" name="title" class="form-control" placeholder="Title">
      </div>
      <div class="col-md-2">
        <input type="text" name="tag" class="form-control" placeholder="Tag">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <input type="submit" class="btn btn-primary btn-submit-right" value="Add">
      </div>
    </div>
  </div>

</form>