
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 16px !default;
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li{
  list-style: none;
}

.contact-card {
  padding: 10px;
  border-radius: 5px;
  background: #eeeddd;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
  height: 160px;
  margin-bottom: 20px;
}