
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  background-color: #eee; 
  height: 100vh;
}

.blog-post{
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  p {
    font-size: 18px;
  }
}

.blog-post-list{
  padding-left: 0;
  .blog-post{
    list-style: none;
    margin-bottom: 16px;
    p{
      font-size: 16px;
    }
    span{
      color: #777;
    }
    p {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 0;
    }
    a{
      color: inherit;
      display: block;
      &:hover {
        text-decoration: none;
        & h3 {
        text-decoration: underline;          
        }
      }
    }
  }
}
